include ./mixins/formatTimespan.pug
include ./mixins/image.pug

doctype html

html(lang="de")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    title=(referencedFile === "index" ? "" : title + " | ") + scope.siteTitle

    if isRelease
      base(href=scope.baseUrl)
    meta(name="author" content=scope.siteTitle)
    if description
      meta(name="description" content=description)
    if keywords
      meta(name="keywords" content=keywords)
    meta(property="og:type" content="website")
    meta(property="og:image" content=scope.baseUrl + "img/logo_color.png")
    meta(property="og:locale" content="de_DE")
    meta(property="og:site_name" content=scope.siteTitle)

    style
      include ./styles/app.css
      block pageStyles

    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/favicon-194x194.png", sizes="194x194")
    link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/android-chrome-192x192.png", sizes="192x192")
    link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg")
    meta(name="apple-mobile-web-app-title", content="Wollbach")
    meta(name="application-name", content="Wollbach")
    meta(name="msapplication-TileColor", content="#4a4a4a")
    meta(name="msapplication-TileImage", content="/mstile-144x144.png")
    meta(name="theme-color", content="#4a4a4a")

  body(itemscope itemtype="http://schema.org/" + (schemaOrg || "WebPage"))
    .header

    nav.navigation
      input#navigation-checkbox.navigation-checkbox(type="checkbox")
      .navigation-header
        a.navigation-brand(href="/")
          img(src="/img/wappen.svg")
        label.navigation-hamburger(for="navigation-checkbox")
          span
      .navigation-menu
        include ./topnavigation.pug

    block header

    img.print-only(src="/img/wappen.svg" alt=scope.siteTitle)

    .content(itemprop="mainContentOfPage")
      h1.page-header #{title}
        if subtitle
            small= " " + subtitle
      | !{breadcrumb}
      block content

    nav.footer
      include ./footernavigation.pug

    script
      include ./scripts/app.js
      block pageScripts
