include ./mixins/formatTimespan.pug
include ./mixins/image.pug
include ./mixins/image-css.pug

doctype html

html(lang="de")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    //- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags

    title=(referencedFile === "index" ? "" : title + " | ") + scope.siteTitle

    if isRelease
      base(href=scope.baseUrl)
    meta(name="author" content=scope.siteTitle)
    if description
      meta(name="description" content=description)
    if keywords
      meta(name="keywords" content=keywords)
    meta(property="og:type" content="website")
    meta(property="og:image" content=scope.baseUrl + "img/logo_color.png")
    meta(property="og:locale" content="de_DE")
    meta(property="og:site_name" content=scope.siteTitle)

    style
      include ./styles/app.css
      block pageStyles

    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16")
    link(rel="manifest" href="/manifest.json")
    link(rel="mask-icon" href="/safari-pinned-tab.svg")
    meta(name="theme-color" content="#ffffff")

  body(itemscope itemtype="http://schema.org/" + (schemaOrg || "WebPage"))
    .header
      .cover
        a.navigation-brand(href="/")
          img(src="/img/wappen.png" alt="Wollbach")

    nav.navigation
      input#navigation-checkbox.navigation-checkbox(type="checkbox")
      .navigation-header
        label.navigation-hamburger(for="navigation-checkbox")
          span
      .navigation-menu
        include ./topnavigation.pug

    block header

    img.print-only(src="/img/wappen.png" alt=scope.siteTitle)

    main.content(itemprop="mainContentOfPage")
      h1.page-title #{title}
        if subtitle
            small= " " + subtitle
      | !{breadcrumb}
      block content

    footer.footer
      nav
        include ./footernavigation.pug

    script(src="/js/jquery.min.js")
    script
      include ./scripts/app.js
    script
      block pageScripts
