extends ../../template.pug

block variables
  -
    var title = "Veranstaltungskalender";
    var description = "Veranstaltungskalender der Gemeinde Wollbach im Kandertal mit einer Übersicht anstehender Termine";
    var keywords = "Veranstaltungen, Veranstaltungskalender, Terminkalender, Termine, Kalender";

block content
  :marked
    Hier geht es zum [Wollbacher Sommerferienprogramm](/pdf/17_sommerferien_programm.pdf) des Kinder- und Jugendverein Wollbach e.V.!

  - var appointments = require("./partials/data/veranstaltungen.json");
  
  each year in Object.keys(appointments)
    h2 #{year}
    table.appointments
      thead
        tr
          th.date Datum
          th.organizer Veranstalter
          th.title Veranstaltung
      tbody
        each appointment in appointments[year]
          tr(itemscope itemtype="http://schema.org/Event")
            td
              +formatTimespan(appointment.starttime, appointment.endtime, true)
            td(itemprop="organizer")
              span(itemscope itemtype="http://schema.org/Organization" itemprop="name")
                | #{appointment.organizer}
            td
              span(itemprop="name")
                | #{appointment.title}

              if appointment.location
                | &nbsp;(
                span(itemprop="location" itemscope itemtype="http://schema.org/Place")
                  if appointment.location.name
                    span(itemprop="name")
                      | #{appointment.location.name}
                  if appointment.location.address
                    if appointment.location.name
                      | ,&nbsp;
                    span(itemprop="address")
                      | #{appointment.location.address}
                | )

              if appointment.description
                .description(itemprop="description")
                  != marked(appointment.description)

block pageScripts
  include ../../scripts/veranstaltungen.js

block pageStyles
  include ../../styles/veranstaltungen.css
