---
title: "Gastronomie"
description: "Eine kleine Übersicht über das kulinarische Angebot unseres Ortes."
keywords: "Kulinarik, Gastronomie, Kulinarisches Angebot"

navigation: "top"
---

extends ../template.pug

mixin restaurant(name, street, town, url)
  .restaurant(itemscope itemtype="http://schema.org/Restaurant")
    if (url)
      a(href=url itemprop="url" target="_blank")
        h2.title(itemprop="name")= name
    else
      h2.title(itemprop="name")= name
    .address(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
      span(itemprop="streetAddress")= street
      span(itemprop="addressLocality")= town
      span.hidden(itemprop="addressRegion") Germany
      span.hidden(itemprop="postalCode") 79400
      

block pageStyles
  include ../styles/gastronomie.css

block content
  +restaurant("Gasthaus „Alte Krone”",
              "Nebenauer Straße 23",
              "Wollbach",
              "http://www.altekrone-wollbach.de/")
  :marked
    Das Gasthaus Krone (heute "Alte Krone") wird seit 1865 als weithin bekannte
    Dorfgaststätte betrieben.

  +restaurant("Gasthaus „Bruckmühle”",
              "Bruckmühle 1",
              "Wollbach",
              "http://gasthof-bruckmuehle-wollbach.de")
  :marked
    Die Bruckmühle ist urkundlich erstmals 1365 belegt. Als Getreidemühle wurde
    sie bis 1970 betrieben. Seit 1969 befindet sich im ehemaligen Mühlentrakt
    eine idyllische Gaststätte.

  +restaurant("Gasthaus „Zur Blume”",
              "Basler Straße 8",
              "Wollbach",
              "http://blumewollbach.de/")
  :marked
    Das Gasthaus Blume stand ursprünglich an der heutigen Oberen Dorfstraße.
    Anno 1868 wurde an der damals neuen Basler Straße (heute alte Basler
    Straße) der Neubau errichtet.

  +restaurant("„Sportgaststätte” SV Wollbach",
              "Maugenharder Straße 11",
              "Wollbach")

  +restaurant("Landgasthaus „Krone”",
              "Siedlerhöfe 1",
              "Wollbach")

  +restaurant("Hotel Restaurant „Pfaffenkeller”",
              "Rathausstraße 9",
              "Wollbach",
              "http://www.pfaffenkeller.de")

  +restaurant("Rüttehofstube",
              "Rüttehof 1",
              "Wollbach",
              "http://www.ruettehofstube.de")

  +restaurant("Gasthaus zum Hirschen",
              "Am Neuweg 2",
               "Egerten",
              "http://www.hirschen-egerten.de")

  +restaurant("Restaurant „Jägerhaus”",
              "Wollbacher Straße 28",
              "Egerten",
              "http://www.restaurant-jaegerhaus.de/")

  +restaurant("Kreiterhof Weinschenke",
              "Wollbacher Straße 1",
              "Egerten",
              "http://www.kreiterhof.de")

  +restaurant("Landgasthaus „Bahnhöfli”",
              "Holzener Straße 5",
              "Hammerstein",
              "www.bahnhoefli.de")
