extends ../template.pug

block variables
  -
    var title = "Gastronomie";
    var description = "Eine kleine Übersicht über das kulinarische Angebot unseres Ortes";
    var keywords = "Kulinarik, Gastronomie, Kulinarisches Angebot";

mixin restaurant(name, owners, street, town, telephones, fax, mail, url)
  .restaurant(itemscope itemtype="http://schema.org/Restaurant")
    h3.title(itemprop="name")
      if (url)
        a(href=url itemprop="url" target="_blank")= name
      else
        | #{name}
    .address(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
      span(itemprop="streetAddress")= street
      span(itemprop="addressLocality")= town
      span.hidden(itemprop="addressRegion") Germany
      span.hidden(itemprop="postalCode") 79400
    if owners
      each owner in owners
        .founder(itemprop="founder" itemscope itemtype="http://schema.org/Person")
          span(itemprop="name")= owner
    if telephones
      each telephone in telephones
        .telephone(itemprop="telephone")= `+49 ${(telephone || "").replace("0", "(0)")}`
    if fax
      .fax-number(itemprop="faxNumber")= `+49 ${(fax || "").replace("0", "(0)")}`
    if email
      a.email(itemprop="email" href=`mailto:${mail}`)= mail

block pageStyles
  include ../styles/gastronomie.css

block content
  - var gastronomie = require("partials/data/gastronomie.json").sort((a, b) => (a.name > b.name) ? 1 : -1);
  .gastronomie-container
    each r in gastronomie
      +restaurant(r.name, r.owners, r.street, r.town, r.telephone, r.fax, r.email, r.website)
