extends ../template.pug

block variables
  -
    var title = "Gewerbe";
    var description = "Eine Übersicht über gewerbliche Einrichtungen in Wollbach";
    var keywords = "Gewerbe, Wirtschaft, Unternehmen";

mixin gewerbe(name, owners, street, town, telephones, fax, mail, url)
  .gewerbe(itemscope itemtype="http://schema.org/LocalBusiness")
    h3.title(itemprop="name")
      if (url)
        a(href=url itemprop="url" target="_blank")= name
      else
        | #{name}
    .address(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
      span(itemprop="streetAddress")= street
      span(itemprop="addressLocality")= town
      span.hidden(itemprop="addressRegion") Germany
      span.hidden(itemprop="postalCode") 79400
    if owners
      each owner in owners
        .founder(itemprop="founder" itemscope itemtype="http://schema.org/Person")
          span(itemprop="name")= owner
    if telephones
      each telephone in telephones
        .telephone(itemprop="telephone")= `+49 ${(telephone || "").replace("0", "(0)")}`
    if fax
      .fax-number(itemprop="faxNumber")= `+49 ${(fax || "").replace("0", "(0)")}`
    if email
      a.email(itemprop="email" href=`mailto:${mail}`)= mail

block pageStyles
  include ../styles/gewerbe.css

block content
  -
    var gewerbe = require("partials/data/gewerbe.json");

    function groupBy(array , f)
    {
      var groups = {};
      array.forEach((o) => {
        f(o).forEach(itemGroup => {
          groups[itemGroup] = groups[itemGroup] || [];
          groups[itemGroup].push(o);
        });
      });
      return groups;
    }

    var groupedByCategory = groupBy(gewerbe, (gewerbe) => gewerbe.categories);

  each category in Object.keys(groupedByCategory).sort()
    h2 #{category}
    .gewerbe-container
      each g in groupedByCategory[category].sort((a, b) => (a.name > b.name) ? 1 : -1)
        +gewerbe(g.name, g.owners, g.street, g.town, g.telephone, g.fax, g.email, g.website)
