---
title: "Gewerbe"
description: ""
keywords: "Gewerbe, Wirtschaft, Unternehmen"

navigation: "top"
---

extends ../template.pug

mixin gewerbe(name, street, town, url)
  .gewerbe(itemscope itemtype="http://schema.org/LocalBusiness")
    if (url)
      a(href=url itemprop="url" target="_blank")
        h2.title(itemprop="name")= name
    else
      h2.title(itemprop="name")= name
    .address(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
      span(itemprop="streetAddress")= street
      span(itemprop="addressLocality")= town
      span.hidden(itemprop="addressRegion") Germany
      span.hidden(itemprop="postalCode") 79400

block pageStyles
  include ../styles/gewerbe.css

block content
  +gewerbe("Autohaus Krug", "Basler Straße 1", "Wollbach", "http://www.krug.mazda-autohaus.de")
  +gewerbe("bmt-solutions", "Auf dem Buck 4/1", "Wollbach", "http://www.bmt-solutions.de")
  +gewerbe("G. Heidenreich - Garten- und Landschaftsbau", "Nebenauerstr. 5", "Wollbach", "http://galabau-heidenreich.de")
  +gewerbe("Hofladen Pfaffenkeller / Senf- und Marmeladen Manufaktur Pfaffenkeller", "Rathausstraße 9", "Wollbach", "http://www.pfaffenkeller.de")
  +gewerbe("Elektro Ernst", "Im Maiacker 10", "Wollbach", "http://www.elektro-ernst.com/")
  +gewerbe("IT - Dienstleistung & Handel Bartsch und Wussow", "Zielrebenweg 30/1", "Wollbach", "http://www.it-dh.de")
  +gewerbe("Malergeschäft Becker", "Zielrebenweg 22", "Wollbach", "http://www.meistermaler-becker.de")
  +gewerbe("Markgrafik - Büro für Werbung und Gestaltung", "Niedere Hofrütte 3", "Wollbach", "http://www.markgrafik.de")
  +gewerbe("Schreinerei Geling", "Röttler Weg 4/1", "Wollbach", "http://www.schreinerei-geling.de")
  +gewerbe("TipTop", "Nebenauerstraße 21", "Wollbach", "http://www.tiptop-naturfriseur.de")
  +gewerbe("eventMax - Licht, Ton und Zelt Vermietung", "Scheideckstraße 1", "Nebenau", "http://www.event-max.com")
  +gewerbe("Autohaus Hess", "Kandertalstraße 4", "Hammerstein", "http://www.kandertalgarage.de")
  +gewerbe("SE-Consulting", "Im Dörfle 11", "Hammerstein", "http://www.se-consulting.de")
  +gewerbe("Bauelemente Schäfer", "Lindenstraße 5", "Egisholz", "http://www.schaefer-bauelemente.de")
  +gewerbe("Malerbetrieb Cudajewicz", "Egerten Str. 22", "Wollbach")
  +gewerbe("Mechthild Frey - Heilpädagogisches Reiten", "Am Neuweg 15", "Egerten", "http://mechthildfrey-heilpaedagogischesreiten.de")
  +gewerbe("Hofgut Rüttehof", "Rüttehof 1", "Egisholz", "http://www.ruettehof.de")
  +gewerbe("Friseursalon Nadine -Ihre Friseurmeisterin-", "Nebenauerstr. 26", "Wollbach")
  +gewerbe("Schreinerei Enders", "Baslerstr. 7", "Wollbach", "http://www.schreinerei-enders.de")
  +gewerbe("EVS Thomas Wussow", "Zielrebenweg 30/1", "Wollbach", "http://www.evsnet.de")
  +gewerbe("Antiquitäten Graf", "Basler Str. 16", "Wollbach")
  +gewerbe("CcK Event Management GbR", "Am Neuweg 2", "Wollbach", "http://cck-events.com/")
  +gewerbe("Probst Hofladen", "Rathausstrasse 1", "Wollbach")

//-
  +gewerbe("Eleonore Krämer - Keramikwerkstatt")
  +gewerbe("Prick Baugeschäft", "Nebenau")
  +gewerbe("Prick Naturschallakustik", "Nebenau")
  +gewerbe("Gerwig Blumenirgendwas")
  +gewerbe("Fischer Hofladen")
  +gewerbe("Tonart")

//-
  +gewerbe("Elektro Winter") - Lörrach
  Gela, Weil
  Resin, Binzen

