mixin image-css(url, alt, title, caption)
  - if (!title) { title = alt; }
  figure.img
    div.img-center.img-responsive(title=title
                                  style=`background-image:url(${url})`
                                  class!=attributes.class
                                  onclick=`viewFullImage("${url}")`)
    if caption
      figcaption
        p.caption= caption
